1. Comparison Table (1 < log n < n < n log n < n^2 < n^3 < 2^n < n!)

In [ ]:
w1 = "abcdefgh"
w2 = "pqrs"
n = len(w1)
m = len(w2)
res = ""
if n == m:
  for i in range(n):
    res = res + (w1[i]+w2[i])
  print(res)
elif n < m:
  j = 0
  while j != n:
      res = res + (w1[j]+w2[j])
      j = j+1
  res = res + w2[j:]
  print(res)
else:
  j = 0
  while j != m:
    res = res + (w1[j]+w2[j])
    j = j+1
  res = res + w1[j:]
  print(res)

apbqcrdsef

In [ ]:
a = "ab"
val = 0
for i in a:
  val = val + ord(i)
  print(f"{i}: {ord(i)}")
print(val)

a: 97
b: 98
195

#283. Move Zeroes
##Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.
Note that you must do this in-place without making a copy of the array.
Example 1:

Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]
Example 2:

Input: nums = [0]
Output: [0]

In [ ]:
nums = [0,3,1,0,13,0,1,12]

# l = len(nums)

# for i in range(l):
#   for j in range(i):
#     if nums[j] == 0:
#       val = nums.pop(j)
#       nums.append(val)

# print(nums)

for i in nums:
  if i == 0:
    nums.pop(i)
    nums.append(i)
  else: continue
print(nums)

[1, 12, 0, 0, 0, 0, 0, 0]

##66. Plus One

You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Increment the large integer by one and return the resulting array of digits.

 Example 1:

Input: digits = [1,2,3]
Output: [1,2,4]
Explanation: The array represents the integer 123.
Incrementing by one gives 123 + 1 = 124.
Thus, the result should be [1,2,4].
Example 2:

Input: digits = [4,3,2,1]
Output: [4,3,2,2]
Explanation: The array represents the integer 4321.
Incrementing by one gives 4321 + 1 = 4322.
Thus, the result should be [4,3,2,2].
Example 3:

Input: digits = [9]
Output: [1,0]
Explanation: The array represents the integer 9.
Incrementing by one gives 9 + 1 = 10.
Thus, the result should be [1,0].

In [ ]:
digits = [9,9]
nums = ''
for i in digits:
  nums += str(i)
  print(nums)

nums = int(nums)
print(nums)
nums = nums+1
print(nums)
nums = str(nums)
print(nums)
print(len(nums))
new_list = []
for i in range(len(nums)):
  new_list.append(nums[i])

print(new_list)

9
99
99
100
100
3
['1', '0', '0']

In [ ]:
nums = [-1,-3,5,7,-2,1,-1,-2-6,-3,2,4,0,-7]
negatives = 0
for num in nums:
  if num == 0:
    print(0)

  if num < 0:
    negatives = negatives + 1

  if negatives % 2 == 0:
    print(1)
  else: print(-1)

-1
1
1
1
-1
-1
1
-1
1
1
1
0
1
-1

#896. Is Monotonic Array

In [ ]:
#Using Two Flags
def is_monotone(nums):
  decreasing = increasing = True

  for i in range(len(nums)-1):
    if nums[i+1] < nums[i]:
      increasing = False
    if nums[i+1] > nums[i]:
      decreasing = False

  return decreasing or increasing

nums = [1,1,2,0]
print(is_monotone(nums))

False

In [ ]:
#using sorted
def is_monotone(nums):
  return nums == sorted(nums) or nums == sorted(nums,reverse= True)

nums = [1,1,2,0]
print(is_monotone(nums))

False

In [ ]:
#using all funciton

def is_monotone(nums):
  return all(nums[i+1] <= nums[i] for i in range(len(nums)-1)) or all(nums[i] <= nums[i+1] for i in range(len(nums)-1))

nums = [1,1,2,4]
print(is_monotone(nums))

True

#2210. Count Hills and Valleys in an Array

In [ ]:
def count_hill_valley(arr):
    count = 0
    i = 1

    while i < len(arr) - 1:
        # Skip duplicates
        while i < len(arr) - 1 and arr[i] == arr[i - 1]:
            i += 1

        # Ensure we are not out of bounds after skipping duplicates
        if i >= len(arr) - 1:
            break

        if arr[i] > arr[i - 1] and arr[i] > arr[i + 1]:
            count += 1
        elif arr[i] < arr[i - 1] and arr[i] < arr[i + 1]:
            count += 1

        i += 1

    return count

# Example usage
arr = [2, 4, 1, 1, 6, 5]
print(count_hill_valley(arr))  # Output: 3

2

#13. Roman to integers

In [ ]:
def roman_to_int(val):
  new_dict = {'I':1,'V':5,'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
  res = 0
  for i in range(len(val)):

    if i+1 < len(val) and new_dict[val[i]] < new_dict[val[i+1]]:

      res = res - new_dict[val[i]]
    else:
      res = res + new_dict[val[i]]

  return res




val = 'LVII'
x = 'IV'
print(roman_to_int(val))

57

Length of last word

1957. Delete Characters to Make Fancy String

In [ ]:
s = "my name is Junesh Gautam and I am a billionaire"
# i = s.split()
# print(i)
j = s.strip().split()
print(j)

print(len(j[-1]))

['my', 'name', 'is', 'Junesh', 'Gautam', 'and', 'I', 'am', 'a', 'billionaire']
11

In [ ]:
import sys
# sum of windows
int_min = -sys.maxsize-1


def window_sum_naive(arr, k):
  max_size = int_min
  n = len(arr)
  for i in range(n-k+1):

    current_sum = 0
    for j in range(k):
      current_sum = current_sum + arr[i+j]
    max_size = max(current_sum,max_size)

  return max_size

nums = [100,200,300,400,500,200,800,300,50,10]
print(window_sum_naive(nums,2))

1100

In [ ]:
#Sliding Window

def slide_sum(arr,k):
  window_sum = sum(arr[:k])
  max_sum = window_sum
  n = len(arr)
  for i in range(n-k):
    window_sum = window_sum - arr[i] + arr[i+k]
    max_sum = max(window_sum,max_sum)
  return max_sum


nums = [100,200,300,400,500,200,800,300,50,10]
# print(slide_sum(nums,2))
print(nums[0:2])

[100, 200]

##Fancy Word

In [ ]:
def fancy(str):
  window = str[:2]

  for i in range(2,len(str)):
    if not(str[i] == str[i-1] == str[i-2]):
      window += str[i]

  return window

print(fancy('holaaaaamigooo'))

holaamigoo

### 682. Base Ball Game

You are keeping the scores for a baseball game with strange rules. At the beginning of the game, you start with an empty record.

You are given a list of strings operations, where operations[i] is the ith operation you must apply to the record and is one of the following:

An integer x.
Record a new score of x.
'+'.
Record a new score that is the sum of the previous two scores.
'D'.
Record a new score that is the double of the previous score.
'C'.
Invalidate the previous score, removing it from the record.
Return the sum of all the scores on the record after applying all the operations.

The test cases are generated such that the answer and all intermediate calculations fit in a 32-bit integer and that all operations are valid.



Example 1:

Input: ops = ["5","2","C","D","+"]
Output: 30
Explanation:
"5" - Add 5 to the record, record is now [5].
"2" - Add 2 to the record, record is now [5, 2].
"C" - Invalidate and remove the previous score, record is now [5].
"D" - Add 2 * 5 = 10 to the record, record is now [5, 10].
"+" - Add 5 + 10 = 15 to the record, record is now [5, 10, 15].
The total sum is 5 + 10 + 15 = 30.
Example 2:

Input: ops = ["5","-2","4","C","D","9","+","+"]
Output: 27
Explanation:
"5" - Add 5 to the record, record is now [5].
"-2" - Add -2 to the record, record is now [5, -2].
"4" - Add 4 to the record, record is now [5, -2, 4].
"C" - Invalidate and remove the previous score, record is now [5, -2].
"D" - Add 2 * -2 = -4 to the record, record is now [5, -2, -4].
"9" - Add 9 to the record, record is now [5, -2, -4, 9].
"+" - Add -4 + 9 = 5 to the record, record is now [5, -2, -4, 9, 5].
"+" - Add 9 + 5 = 14 to the record, record is now [5, -2, -4, 9, 5, 14].
The total sum is 5 + -2 + -4 + 9 + 5 + 14 = 27.

In [ ]:
def baseBall(lst):
  stack = []
  for op in lst:
    if op == '+':
      if len(stack) > 2:
        stack.append(stack[-1] + stack[-2])

    elif op == 'D':
      if stack:
        stack.append(stack[-1]*2)

    elif op == 'C':
      if stack:
        stack.pop()

    else:
      stack.append(int(op))

  return sum(stack)

nums =  [5, -2, -4, 9, 5, 14]
print(baseBall(nums))

27

##657. Robot Return to Origin
Easy
Topics
Companies
There is a robot starting at the position (0, 0), the origin, on a 2D plane. Given a sequence of its moves, judge if this robot ends up at (0, 0) after it completes its moves.

You are given a string moves that represents the move sequence of the robot where moves[i] represents its ith move. Valid moves are 'R' (right), 'L' (left), 'U' (up), and 'D' (down).

Return true if the robot returns to the origin after it finishes all of its moves, or false otherwise.

Note: The way that the robot is "facing" is irrelevant. 'R' will always make the robot move to the right once, 'L' will always make it move left, etc. Also, assume that the magnitude of the robot's movement is the same for each move.



Example 1:

Input: moves = "UD"
Output: true
Explanation: The robot moves up once, and then down once. All moves have the same magnitude, so it ended up at the origin where it started. Therefore, we return true.
Example 2:

Input: moves = "LL"
Output: false
Explanation: The robot moves left twice. It ends up two "moves" to the left of the origin. We return false because it is not at the origin at the end of its moves

In [ ]:
def robot(moves: str) -> bool:

  d_count = u_count = l_count = r_count = 0
  for i in moves:
    if i == d:
      d_count += 1
    elif i == u:
      u_count += 1
    elif i == r:
      r_count += 1
    elif i == l:
      l_count += 1

  if down_count == up_count and left_count == right_count:
    return True
  else:
    return False

##Tic-Tac-Toe

In [ ]:
def tictactoe(moves) -> str:
  #Initialize a 3x3 board with an empty strings
  board = [[''] * 3 for i in range(3)]

  #define players
  players = ['A','B']

    #define a helper function to check the winner

  def check_winner(player):
    #check rows
    for row in board:
      if all(cell == player for cell in row):
        return True

    #check columns
    for col in range(3):
      if all(board[row][col] == player for row in range(3)):
        return True

    #check diagonals
    if all(board[i][i] == player for i in range(3)):
      return True
    if all(board[i][2-i] == player for i in range(3)):
      return True

    return False

  #populate the board with moves
  for i, move in enumerate(moves):
    row, col = move
    player = players[i%2]
    board[row][col] = player

    if check_winner(player):
      return player


  return "Draw" if len(moves) == 9 else "Pending"

valid_moves = [[0,0],[2,0],[1,1],[2,1],[2,2]]
print(tictactoe(valid_moves))

A

##1672 Richest Customer Wealth

In [ ]:
accounts = [[2,4,6], [1,2,3]]
rich_guys = []
for row in accounts:
  # print(row)
  sum = 0
  for col in row:
    # print(col)
    sum += col
  rich_guys.append(sum)
print(rich_guys)
print(max(rich_guys))

[12, 6]
12

In [ ]:
mat = [[1,2,3],[4,5,6],[7,8,9]]
# print(mat)
# for row in range(len(mat)):

#   for col in range(len(mat[row])):
#     print(mat[col][col])

mid = 3//2
sum = 0
for i in range(len(mat)):
  sum = sum + mat[i][i]+mat[i][2-1]
print(sum-mat[mid][mid])

25

1

In [ ]:
# Input : [[1,70,3],[4,5,6],[7,8,9]], output : [1,2,3,4,8,12,11,10,9,5,6,7]
mat = [[2,4,6,8],[10,12,14,16],[18,20,22,24]]
visited = [[False for col in row] for row in mat]
spiral = []

i = 0
j = 0
row_len = len(mat)
col_len = len(mat[0])

while i != row_len:

  while j != col_len:
    if j != col_len and visited[row][col] == False:
      spiral.append(mat[i][j])
      j += 1
      break
    if j == col_len:
      spiral.append(mat[j][i-1])

  i = i+1
print(spiral)

[2, 12, 22]

In [ ]:
matt = [1,3,5,7,9]
for val in matt[::-1]:
  print(val)

9
7
5
3
1

##1945. Sum of Digits of String After Convert

In [ ]:
print(ord('a')-97+1)

1

In [ ]:
s = 'abcde' #12345
k = 2
#output: 1+2+3+4+5 = 15 = 6


def get_lucky(s, k):

  #conversion
  val = ''
  for char in s:
    val += str(ord(char)-97+1)
    print(val)

  #initial sum
  sum = 0
  for i in range(len(val)):
    sum += int(val[i])
    print(sum)
  # performing the summing k times
  new_sum = 0
  for i in range(k):
    new_sum += sum%10
    print(f"new_sum: {new_sum}")
    sum = sum//10
  print(new_sum)
s = 'iiiii' #12345
k = 1
get_lucky(s,k)

9
99
999
9999
99999
9
18
27
36
45
new_sum: 5
5

##54 Spiral Sum

In [ ]:
mat = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
m = len(mat)
n = len(mat[0])
for i in range(m):
  for j in range(n):
    print(f"{mat[i][j]:4}",end = " ")
  print()

top, bottom = 0, m
left, right = 0, n

res = []

while (top < bottom and left < right):

  for i in range(left, right):
    res.append(mat[top][i])
  top += 1

  for i in range(top, bottom):
    res.append(mat[i][right-1])
  right -= 1

  if not (top < bottom and left < right):
    break

  for i in range(right-1, left - 1, -1):
    res.append(mat[bottom-1][i])
  bottom -= 1

  for i in range(bottom-1, top-1, -1):
    res.append(mat[i][left])
  left += 1

print(res)

   1    2    3    4
   5    6    7    8
   9   10   11   12
[1, 2, 3, 4, 8, 12, 11, 10, 9, 5, 6, 7]

In [ ]:
print(mat[0])
print(mat[1:,0])

[2 4 6]
[ 8 14 20]

##73. Set matrix zeros

In [ ]:
mat = [[2,0,6],[8,10,12],[0,16,18],[20,22,24]]

m = len(mat)
n = len(mat[0])

for i in range(m):
  for j in range(n):
    print(f"{mat[i][j]:4}", end = " ")
  print()

rows_to_zero = set()
cols_to_zero = set()


for i in range(m):
  for j in range(n):
    if mat[i][j] == 0:
      rows_to_zero.add(i)
      cols_to_zero.add(j)

print(f"rows_to_zero: {rows_to_zero} \ncols_to_zero: {cols_to_zero}")

for rows in rows_to_zero:
  for i in range(n):
    mat[rows][i] = 0

for cols in cols_to_zero:
  for i in range(m):
    mat[i][cols] = 0

print()

for i in range(m):
  for j in range(n):
    print(f"{mat[i][j]:4}", end = " ")
  print()

   2    0    6
   8   10   12
   0   16   18
  20   22   24
rows_to_zero: {0, 2}
cols_to_zero: {0, 1}

   0    0    0
   0    0   12
   0    0    0
   0    0   24

In [ ]:
def toString(List):
    return ''.join(List)


def permute(a, l, r):
    if l == r:
        print(toString(a))
    else:
        for i in range(l, r):
            a[l], a[i] = a[i], a[l]
            permute(a, l+1, r)
            a[l], a[i] = a[i], a[l]  # backtrack

# Driver code
string = "ABCD"
n = len(string)
a = list(string)

# Function call
permute(a, 0, n)

ABCD
ABDC
ACBD
ACDB
ADCB
ADBC
BACD
BADC
BCAD
BCDA
BDCA
BDAC
CBAD
CBDA
CABD
CADB
CDAB
CDBA
DBCA
DBAC
DCBA
DCAB
DACB
DABC

In [ ]:
def toString(List):
    return ''.join(List)

def permute(a, l, r, count):
    if l == r:
        print(toString(a))
        count[0] += 1  # Increment the count when a permutation is found
    else:
        for i in range(l, r):
            a[l], a[i] = a[i], a[l]
            permute(a, l+1, r, count)
            a[l], a[i] = a[i], a[l]  # Backtrack

# Driver code
string = "ABCD"
n = len(string)
a = list(string)
count = [0]  # Use a list to store count so it can be modified inside the function

# Function call
permute(a, 0, n, count)

# Print the count of permutations
print(f"Total number of permutations: {count[0]}")

ABCD
ABDC
ACBD
ACDB
ADCB
ADBC
BACD
BADC
BCAD
BCDA
BDCA
BDAC
CBAD
CBDA
CABD
CADB
CDAB
CDBA
DBCA
DBAC
DCBA
DCAB
DACB
DABC
Total number of permutations: 24

##46. Permutaion
Given an array nums of distinct integers, return all the possible permutations. You can return the answer in any order.

Example 1:

Input: nums = [1,2,3]
Output: [[1,2,3],[1,3,2],[2,1,3],[2,3,1],[3,1,2],[3,2,1]]


Example 2:

Input: nums = [0,1]
Output: [[0,1],[1,0]]


Example 3:

Input: nums = [1]
Output: [[1]]

In [ ]:
def permute(nums):
  result = []

  #base case
  if (len(nums) == 1):
    return [nums[:]]

  for i in range(len(nums)):
    n = nums.pop(0)
    perms = permute(nums)

    for perm in perms:
      perm.append(n)
    result.extend(perms)
    nums.append(n)

  return result


nums = [1,2,3]
print(permute(nums))

[[3, 2, 1], [2, 3, 1], [1, 3, 2], [3, 1, 2], [2, 1, 3], [1, 2, 3]]